body{
  background-color:#faf6e9;
  margin:6.25rem 0.625rem;
  text-align:center;
  font-family:'Thasadith', sans-serif;
  font-size:1rem;

}
ul{
  font-size:1rem
}
hr{
  border-style:none;
  border-style:dotted;
  border-color:#ece8d9;
  width:7%;
  border-width:7px;
  border-bottom:none

}
h1{
    margin-top:0;
    font-family:'Fredericka the Great', cursive;
    font-size:4rem;
    color:black;
}
h2{
  font-family:'Antonio', sans-serif;
  font-size:2rem;
  color:#4e3620;
}
h3{
  font-family:'Antonio', sans-serif;
  font-size:1.5rem;
   color:#4e3620;
}
a{
  margin:10px 20px;
  font-family:'Thasadith', sans-serif;
  color:black;
  text-decoration: none;
}
a:hover{
  color:#9e9d89;
}

.bee{
position:relative;
max-width:30%;
}
.catapiler1{
  max-width:90%;
  position:relative;


}

.catipiller2{
  max-width:40%;
  position: relative;
}

.LEAVES{
max-width:100%;

}
.linkedin-icon{
max-width:5.5%;

}
.twitter-icon{
max-width:5.5%;

}
.website-icon{
  max-width:5.5%;
}
.top-container{
  margin-bottom:30px;

  position: relative;
  padding-top:6.25rem;
  margin-left:9.37rem;
  margin-right:9.37rem;
  outline-style: solid;
  outline-width: thin;
}
.middle-container{
  background-color:#fffdf6;
  outline-style: solid;
  outline-width: thin;
  margin:5% 11.5% 5%;
}
.bottom-container{
  margin: 5% 10% 5% ;
  outline-style: solid;
  outline-width: thin;
  background-color:#fffdf6;

}

.skill-row{
position: relative;
line-height:2;
width:60%;
margin:auto;

}

.WDS{
width:50%;
position: relative;
margin:0 10.7% 0;
padding:5% 15% 0;
outline-style: solid;
outline-width: thin;

}
.MS{
width:50%;
margin:5% 0 0 25%;
float: left;
}
.contact-me{
width:50%;
margin:auto;

}
  .CR{
  font-size:0.85rem;
  padding:20px 0;
}
.btn {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #000000;
   font-family:'Thasadith', sans-serif;
   font-size: 27px;
   font-weight: 200;
   padding: 20px;
   border: solid #C3A677 3px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #C3A677 3px;
   background: #9e9d89;
   background-image: -webkit-linear-gradient(top,#faf6e9,#ece8d9);
   background-image: -moz-linear-gradient(top,#faf6e9, #ece8d9);
   background-image: -ms-linear-gradient(top,#faf6e9,#ece8d9);
   background-image: -o-linear-gradient(top,#faf6e9, #ece8d9);
   background-image: -webkit-gradient(to bottom,#faf6e9, #ece8d9);
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   text-decoration: none;
}
